#wrapper
{
	width: 960px;
	margin: 0 auto;
	padding-top: 100px;
}
#wrapper .search-container{
	border: 1px solid black;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888888;
	width: 500px;
	margin: 0 auto;
	padding: 20px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
	background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 );

}
div{
	margin-bottom: 10px;
}
div.data{
	display: inline-block;
	padding-right: 20px;
}
#city{
	width: 390px;
	height: 40px;
	font-size: 30px;
}
#check-in{
	height: 20px;
	width: 80px;
		font-size: 15px;
}
#check-out{
	height: 20px;
	width: 80px;
		font-size: 15px;
}
select {
	height: 26px;
	width: 60px;
	font-size: 15px;
}
label{
	font-size: 18px;
}
button.btn-search{
	font-size: 20px;
}
.placeholder-fix:focus::-webkit-input-placeholder  { color:transparent; }
.placeholder-fix:focus::-moz-placeholder   { color:transparent; }